[user]
    name = Juan Calvopina
    email = juan.calvopina@gmail.com
[core]
    autocrlf = input
    excludesFile = /Users/jcalvopina/.gitignore_global
    eol = lf
[init]
    defaultBranch = main
[pull]
    ff = only
[push]
    autoSetupRemote = true
    default = current
[diff]
    tool = p4merge
[difftool "p4merge"]
    path = /Applications/p4merge.app/Contents/MacOS/p4merge
[difftool]
    promt = false
[merge]
    tool = p4merge
[mergetool "p4merge"]
    path = /Applications/p4merge.app/Contents/MacOS/p4merge
[mergetool]
    promt = false
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true
[alias]
    cane = commit --amend --no-edit
