[user]
    name = Juan Calvopina
    email = jcalvopinam@gmail.com
[core]
    autocrlf = input
    editor = code --wait
    eol = lf
    excludesFile = $HOME/.gitignore_global
[init]
    defaultBranch = main
[pull]
    ff = only
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true
