.DS_Store
**/**/license.txt
**/.idea/*
**/raycast/extensions/*
**/obsidian/.obsidian/plugins/recent-files-obsidian/data.json
**/obsidian/.obsidian/plugins/colored-tags/data.json
**/obsidian/.obsidian/plugins/float-search/data.json
**/obsidian/.obsidian/plugins/obsidian-reminder-plugin/data.json
