#!/usr/bin/env bash
# Aliases

#----------------------------------------------------------------------------------
# `bat` configuration
#----------------------------------------------------------------------------------
if type bat &> /dev/null; then
  alias cat=/usr/local/bin/bat
  alias catn=/bin/cat
  alias catl='/opt/homebrew/bin/bat --paging=never'
fi

#----------------------------------------------------------------------------------
# `kitty` configuration
#----------------------------------------------------------------------------------
if type kitty &> /dev/null; then
  alias icat='kitty +kitten icat'
fi

#----------------------------------------------------------------------------------
# `lsd` configuration
#----------------------------------------------------------------------------------
if type lsd &> /dev/null; then
  alias ls='lsd --classify'
  alias ll='lsd -ltrh --group-directories-first --classify'
  alias la='lsd -ltrhA --group-directories-first --classify'
  alias lt='lsd --tree --group-directories-first'
  alias laf='lsd -l *(.N) .*(^/)'              # list all files
  alias lof='lsd -l --directory-only (|*)(^/)' # list only files
  alias lofh='lsd -l --directory-only .*(^/)'  # list only files hidden
  alias lad='lsd -l --directory-only (.*|*)/'  # list all folders
  alias lod='lsd -l --directory-only */'       # list only directories
  alias lodh='lsd -l --directory-only .*/'     # list only directories hidden
else                                           # Default `ls` configuration
  alias ls='ls -F -G'
  alias ll='ls -ltrh -F -G'
  alias la='ls -ltrhA -F -G'
  alias lt="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"
  alias laf='ls -lpA | grep -v /'           # list all files
  alias lof='ls -lp | grep -v /'            # list only files
  alias lofh="ls -lpd .[^/]* | grep -v '/'" # list only files hidden
  alias lad='ls -ld */ .*/'                 # list all folders
  alias lod='ls -ld */'                     # list only directories
  alias lodh='ls -ld .*/'                   # list only directories hidden
fi

#----------------------------------------------------------------------------------
# Colored `grep` output
#----------------------------------------------------------------------------------
alias grep='grep --color=auto'
alias ggrep='ggrep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias zgrep='zgrep --color=auto'

#----------------------------------------------------------------------------------
# IP addresses
#----------------------------------------------------------------------------------
alias ipp='curl -s https://checkip.amazonaws.com | tee /dev/tty | pbcopy'
alias ipl='ipconfig getifaddr en0 | tee /dev/tty | pbcopy'
alias ips="ifconfig -a | awk '/^[^\t]/ { iface=\"\033[1;32m\" \$1 \"\033[0m\" } /inet / { ip=\"\033[1;31m\" \$2 \"\033[0m\"; print iface \" \" ip }'"
alias ipvpn='ifconfig utun4 | awk "/inet / {print \$2}" | tee /dev/tty | pbcopy'

#----------------------------------------------------------------------------------
# Print each PATH entry on a separate line
#----------------------------------------------------------------------------------
alias path='echo -e ${PATH//:/\\n}'

#----------------------------------------------------------------------------------
# Counters
#----------------------------------------------------------------------------------
alias lsfsize='find . -type f -exec du -h {} + | sort -hr'
alias lsdsize='du -h -d 1 . | sort -hr'
alias tf='find . -type f | wc -l'
alias tfd='find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '\''echo "{} : $(find "{}" -type f | wc -l)" file\(s\)'\'' \;'

#----------------------------------------------------------------------------------
# Reload alias
#----------------------------------------------------------------------------------
alias rzshrc='source ~/.zshrc'

#----------------------------------------------------------------------------------
# Files & Folders
#----------------------------------------------------------------------------------
alias space='cd ~/space'
alias dc='cd ~/Documents'
alias dk='cd ~/Desktop'
alias dl='cd ~/Downloads'
alias knw='cd ~/knw'
alias cpwd='echo $(pwd) | pbcopy'
alias cfile='clipcopy $1'

#----------------------------------------------------------------------------------
# General
#----------------------------------------------------------------------------------
alias eh!='nvim ~/.zsh_history'
alias ez!='nvim ~/.zshrc'
alias fzf!='fzf --height 40% --reverse'
alias lg=lazygit
alias runp='lsof -i'
alias wifipass='security find-generic-password -wa $1'
