#!/usr/bin/env bash
# Alias

#----------------------------------------------------------------------------------
# Easier navigation
#----------------------------------------------------------------------------------
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

#----------------------------------------------------------------------------------
# Bat setup
#----------------------------------------------------------------------------------
alias cat=/usr/local/bin/bat
alias catn=/bin/cat
alias catl='/opt/homebrew/bin/bat --paging=never'
alias icat='kitty +kitten icat'

#----------------------------------------------------------------------------------
# `lsd` configuration - It requires to install lsd command
#----------------------------------------------------------------------------------
alias ls='lsd --classify'
alias ll='lsd -ltrh --group-directories-first --classify'
alias la='lsd -lah --group-directories-first --classify'
alias lt='lsd --tree --group-directories-first'
alias ld='lsd --directory-only */'
alias lda='lsd --directory-only (.*|*)/'
alias lf='lsd --directory-only (|*)(^/)'
alias lfa='lsd --directory-only (.*|*)(^/)'

#----------------------------------------------------------------------------------
# `ls` configuration
#----------------------------------------------------------------------------------
#alias ls='ls -F -G'
#alias ll='ls -ltrh -F -G'
#alias la='ls -lah -F -G'
#alias lt="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

#----------------------------------------------------------------------------------
# Colored `grep` output
#----------------------------------------------------------------------------------
alias grep='grep --color=auto'
alias ggrep='ggrep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias zgrep='zgrep --color=auto'

#----------------------------------------------------------------------------------
# IP addresses
#----------------------------------------------------------------------------------
alias ipp='curl -s https://checkip.amazonaws.com'
alias ipl='ipconfig getifaddr en0'
alias ips="ifconfig -a | awk '/^[^\t]/ { iface=\"\033[1;32m\" \$1 \"\033[0m\" } /inet / { ip=\"\033[1;31m\" \$2 \"\033[0m\"; print iface \" \" ip }'"
alias ipvpn='ifconfig utun4 | awk "/inet / {print \$2}"'

#----------------------------------------------------------------------------------
# Print each PATH entry on a separate line
#----------------------------------------------------------------------------------
alias path='echo -e ${PATH//:/\\n}'

#----------------------------------------------------------------------------------
# Counters
#----------------------------------------------------------------------------------
alias tf='find . -type f | wc -l'
alias tfd='find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '\''echo "{} : $(find "{}" -type f | wc -l)" file\(s\)'\'' \;'

#----------------------------------------------------------------------------------
# Reload alias
#----------------------------------------------------------------------------------
alias rzshrc='source ~/.zshrc'

#----------------------------------------------------------------------------------
# Files& Folders
#----------------------------------------------------------------------------------
alias space='cd ~/space'
alias doc='cd ~/Documents'
alias dk='cd ~/Desktop'
alias dl='cd ~/Downloads'
alias cpwd='echo $(pwd) | pbcopy'
alias cfile='clipcopy $1'

#----------------------------------------------------------------------------------
# General
#----------------------------------------------------------------------------------
alias eh!='nvim ~/.zsh_history'
alias runp='lsof -i'
alias wifipass='security find-generic-password -wa $1'
alias fzf!='fzf --height 40% --reverse'
