#!/usr/bin/env bash
# Aliases

#----------------------------------------------------------------------------------
# `bat` configuration
#----------------------------------------------------------------------------------
if type bat &>/dev/null; then
  alias cat=/opt/homebrew/bin/bat
  alias catn=/bin/cat
  alias catl='/opt/homebrew/bin/bat --paging=never'
fi

#----------------------------------------------------------------------------------
# `kitty` configuration
#----------------------------------------------------------------------------------
if type kitty &>/dev/null; then
  alias icat='kitty +kitten icat'
fi

#----------------------------------------------------------------------------------
# `lsd` setup
#----------------------------------------------------------------------------------
if type lsd &>/dev/null; then
  alias ls='lsd --classify'
  alias ll='lsd -ltrh --group-directories-first --classify'
  alias la='lsd -lah --group-directories-first --classify'
  alias lt='lsd --tree --group-directories-first'
  alias ld='lsd --directory-only */'
  alias lda='lsd --directory-only (.*|*)/'
  alias ldo='lsd -l --directory-only .*/'
  alias lf='lsd --directory-only (|*)(^/)'
  alias lfa='lsd --directory-only (.*|*)(^/)'
  alias lfo='lsd -l --directory-only .*(^/)'
else # Default `ls` configuration
  alias ls='ls -F -G'
  alias ll='ls -ltrh -F -G'
  alias la='ls -lah -F -G'
  alias lt="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"
fi

#----------------------------------------------------------------------------------
# Colored `grep` output
#----------------------------------------------------------------------------------
alias grep='grep --color=auto'
alias ggrep='ggrep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias zgrep='zgrep --color=auto'

#----------------------------------------------------------------------------------
# IP addresses
#----------------------------------------------------------------------------------
alias ipp='curl -s https://checkip.amazonaws.com'
alias ipl='ipconfig getifaddr en0'
alias ips="ifconfig -a | awk '/^[^\t]/ { iface=\"\033[1;32m\" \$1 \"\033[0m\" } /inet / { ip=\"\033[1;31m\" \$2 \"\033[0m\"; print iface \" \" ip }'"
alias ipvpn='ifconfig utun4 | awk "/inet / {print \$2}"'

#----------------------------------------------------------------------------------
# Print each PATH entry on a separate line
#----------------------------------------------------------------------------------
alias path='echo -e ${PATH//:/\\n}'

#----------------------------------------------------------------------------------
# Counters
#----------------------------------------------------------------------------------
alias tf='find . -type f | wc -l'
alias tfd='find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '\''echo "{} : $(find "{}" -type f | wc -l)" file\(s\)'\'' \;'

#----------------------------------------------------------------------------------
# Reload alias
#----------------------------------------------------------------------------------
alias rzshrc='source ~/.zshrc'

#----------------------------------------------------------------------------------
# Files & Folders
#----------------------------------------------------------------------------------
alias space='cd ~/space'
alias dc='cd ~/Documents'
alias dk='cd ~/Desktop'
alias dl='cd ~/Downloads'
alias knw='cd ~/knw'
alias cpwd='echo $(pwd) | pbcopy'
alias cfile='clipcopy $1'

#----------------------------------------------------------------------------------
# General
#----------------------------------------------------------------------------------
alias eh!='nvim ~/.zsh_history'
alias ez!='nvim ~/.zshrc'
alias fzf!='fzf --height 40% --reverse'
alias lg=lazygit
alias runp='lsof -i'
alias wifipass='security find-generic-password -wa $1'
