#!/usr/bin/env bash
# Exports

export PATH=/usr/local/bin/:/usr/local/sbin/:$PATH

#----------------------------------------------------------------------------------
# For Maven, Gradle and Java > sdkman
# For NodeJs > NodeVersionManager nvm / FastNodeManager fnm
#----------------------------------------------------------------------------------

#----------------------------------------------------------------------------------
# Python setup
#----------------------------------------------------------------------------------
# The original version is saved in .bash_profile.pysave
PYTHON_HOME=/Library/Frameworks/Python.framework/Versions/3.6/bin
export PATH=$PATH:$PYTHON_HOME/bin

#----------------------------------------------------------------------------------
#GCP Credentials
#----------------------------------------------------------------------------------
export GOOGLE_APPLICATION_CREDENTIALS="/Users/jcalvopina/space/IdeaProjects/alison-project/siseg-ecuador-a8e0b760cb7f.json"

#----------------------------------------------------------------------------------
# FNM setup
#----------------------------------------------------------------------------------
eval "$(fnm env --use-on-cd)"

#----------------------------------------------------------------------------------
# Android Studio setup
#----------------------------------------------------------------------------------
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

#----------------------------------------------------------------------------------
# GENERAL
#----------------------------------------------------------------------------------
export GPG_TTY=\$(tty)                                                             # git Signing commits
#export ZSH_COMPDUMP=$ZSH/cache/.zcompdump-$HOST                                   # saving dump files into ZSH cache folder
#export LANG=en_US.UTF-8                                                           # set your language environment

#----------------------------------------------------------------------------------
# FZF setup for default command
# this exclude all files and folders defined in the .gitignore file
# It's is required to be defined using:
# git config --global core.excludesFile ~/.gitignore_global
#----------------------------------------------------------------------------------
export FZF_DEFAULT_COMMAND=" rg --files --hidden "

#----------------------------------------------------------------------------------
# THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
#----------------------------------------------------------------------------------
export SDKMAN_DIR=$HOME"/.sdkman"
[[ -s $HOME"/.sdkman/bin/sdkman-init.sh" ]] && source $HOME"/.sdkman/bin/sdkman-init.sh"
