#!/usr/bin/env bash
# Exports

#----------------------------------------------------------------------------------
# Custom CLI themes based on the current macOS appearence
#----------------------------------------------------------------------------------
if [[ $(defaults read ~/Library/Preferences/.GlobalPreferences.plist AppleInterfaceStyle 2> /dev/null) = Dark ]]; then
  export MACOS_CURRENT_THEME='Dark'
else
  export MACOS_CURRENT_THEME='Light'
fi

#----------------------------------------------------------------------------------
# Homebrew PATH
#----------------------------------------------------------------------------------
export PATH="/usr/local/bin/:\
/usr/local/sbin/:\
/usr/local/bin/:\
$HOME/space/config-files/scripts/:\
$PATH"

#----------------------------------------------------------------------------------
# Homebrew setup
#----------------------------------------------------------------------------------
[[ -s "/opt/homebrew/bin/brew" ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_UPGRADE_GREEDY=1

#----------------------------------------------------------------------------------
# Python setup
#----------------------------------------------------------------------------------
if command -v pyenv &> /dev/null; then
  export PYENV_ROOT="$HOME/.pyenv"
  export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$(pyenv init -)"
fi

#----------------------------------------------------------------------------------
# FNM setup
#----------------------------------------------------------------------------------
type fnm &> /dev/null && eval "$(fnm env --use-on-cd)"

#----------------------------------------------------------------------------------
# GENERAL
#----------------------------------------------------------------------------------
export GPG_TTY=$(tty) # git Signing commits

#----------------------------------------------------------------------------------
# FZF: to exclude all files and folders defined in the .gitignore file
# git config --global core.excludesFile ~/.gitignore_global
#----------------------------------------------------------------------------------
if [[ "$SHELL" = "/bin/zsh" ]]; then
  type rg &> /dev/null && export FZF_DEFAULT_COMMAND=" rg --files --hidden "
fi

#----------------------------------------------------------------------------------
# Set colors for grep. Make sure you're using grep from brew
#----------------------------------------------------------------------------------
export GREP_COLORS='ms=01;31:mc=01;31:sl=:cx=:fn=35:ln=32:bn=32:se=36'

#----------------------------------------------------------------------------------
# GCP Credentials
#----------------------------------------------------------------------------------
export GOOGLE_APPLICATION_CREDENTIALS="~/Downloads/siseg-ecuador-a8e0b760cb7f.json"

#----------------------------------------------------------------------------------
# THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
#----------------------------------------------------------------------------------
export SDKMAN_DIR=$HOME"/.sdkman"
[[ -s $HOME"/.sdkman/bin/sdkman-init.sh" ]] && source $HOME"/.sdkman/bin/sdkman-init.sh"
