#!/usr/bin/env bash
# Exports

export PATH=/usr/local/bin/:/usr/local/sbin/:/usr/local/bin/:$PATH

#----------------------------------------------------------------------------------
# For Maven, Gradle and Java > sdkman
#----------------------------------------------------------------------------------

#----------------------------------------------------------------------------------
# Python setup
#----------------------------------------------------------------------------------
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

#----------------------------------------------------------------------------------
# FNM setup
#----------------------------------------------------------------------------------
eval "$(fnm env --use-on-cd)"

#----------------------------------------------------------------------------------
# GENERAL
#----------------------------------------------------------------------------------
export GPG_TTY=\$(tty)                                                             # git Signing commits

#----------------------------------------------------------------------------------
# FZF setup for default command
# this exclude all files and folders defined in the .gitignore file
# It's is required to be defined using:
# git config --global core.excludesFile ~/.gitignore_global
#----------------------------------------------------------------------------------
export FZF_DEFAULT_COMMAND=" rg --files --hidden "

#----------------------------------------------------------------------------------
# THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
#----------------------------------------------------------------------------------
export SDKMAN_DIR=$HOME"/.sdkman"
[[ -s $HOME"/.sdkman/bin/sdkman-init.sh" ]] && source $HOME"/.sdkman/bin/sdkman-init.sh"
